html {
    background: #000;
}

main {
    margin-top: 5em;
}

#game {
    
    position: relative;

   
    height: 356px;
    width: 356px;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    gap: 2px;
}

.pixel-white {
    background: #edf0f1;
    height: 10px;
    width: 10px;
}

.pixel-gray {
    background: #d1cfcf;
    height: 10px;
    width: 10px;
}

.snake {
    background: indigo !important;
}
.dead-snake {
    background: crimson !important;
}

.food {
    background: goldenrod !important;
}
